
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~material-design-icons/iconfont/material-icons.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "../summernote/dist/summernote.css";

@import "~vuetify/dist/vuetify.css";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('~material-design-icons/iconfont/MaterialIcons-Regular.eot');
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

html{
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Roboto Condenced', sans-serif;
  font-size: 18px;
  margin-bottom: 700px;
}
main{
    min-height: 100vh;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 600px;
  background-color: #ccc;
}
.carousel-text-block{
    position: absolute;
    margin-left: 30%;
    top: 0;
    left: 0;
    color: #fff;
    margin-top: 10%;
    width: 45%;
}
p {
  color: #3d3d3d;
}
.breadcrumb{
  background-color: #f5f8fa;
}
navbar{
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content: flex-start;
}

.side-bar a{
  color: #4186D3;
}
.side-bar a:hover{
  text-decoration: none;
}
.navbar-nav a{
  color: #fff;
}
.navbar-laravel {
  background-color: #4186D3;
  //background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #fff!important;
  font-size: 30px;
}
.form-control {
  border-radius: 0;
}
.int-footer a{
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Roboto Condenced", sans-serif;
}
.int-footer p{
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Roboto Condenced", sans-serif;
}
.int-footer label{
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Roboto Condenced", sans-serif;
}
.fist-page-skrin1{
  background-image: url("/img/parallax1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.side-bar{
  position: fixed;
  height: 100%;
  width: 20rem;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: #fff;
  visibility: hidden;
}
.visibility{
  visibility: visible;
  transform: scaleX(1);
  transition: .3s ease-out;
}
.article {
  line-height: 1.5;
  color: #5d5d5d;
  font-size: 1.5rem;
}
.list-group-item{
  background-color: inherit;
  border-top: 0;
}
.list-group-item:last-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-flush:last-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.full-height{
  min-height: 600px;
}
.banner-height{
  min-height: 300px;
}
.line-divider{
  border-width: 3px;
  background-color: #fff;
  width: 200px;
}
